extends ../public/pug/layouts/main
block style
	link(rel="stylesheet", href="css/index_1.css")

block content-main
	.container.content-container
		img.content-bg(src="../images/index_bg_1.png")
		h2 第三届中国创新挑战赛
		h3 暨首届长三角国际创新挑战赛
		ul.clearfix
			li
				span.icon-company
				.txt
					p 8,720
					p 报名企业
			li
				span.icon-organization
				.txt
					p 1,887
					p 报名机构
			li
				span.icon-demand
				.txt
					p 40,229
					p 需求总数
block foot
	.footer-wrap
		.container.footer
			.top
				p.title 以创新服务创新
				p.subtitle 打造长三角技术转移协同网络
				p.date 大赛事件：4月 - 11月
			.bottom.clearfix
				ul
					li 组织保障
					li 指导单位：科技部火炬中心
					li 主办单位：上海市科学技术委员会、浙江省科技厅
					li.indent 江苏省科技厅、安徽省科技厅
					li 特邀主办单位：闵行区人民政府
					li 承办单位：国家技术转移东部中心、江苏省技术产权交易市场、
					li.indent 浙江科技大市场、安徽省科技研究开发中心
					li 协办单位：114产学研协同创新服务平台
				ul
					li 联系方式
					li 上海市服务热线：8008205114（座机）、
					li.indent 4008205114（手机）
					li 浙江省服务热线：0571-85009039
					li 江苏省服务热线：025-89665895
					li 安徽省服务热线：0551-65370018
			.detail-btn-wrap
				button.btn.btn-primary.btn-lg.btn-block 详情
					span.icon-go
			p.record-info 沪ICP备12018056号-1
				
